* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  /* Allows items to wrap to the next line */
  justify-content: space-around;
  /* Distributes space around items */
}

.card {
  /* Base styles for cards */
  margin: 10px;
  flex-basis: calc(25% - 20px);
  /* 25% width minus margins for 4 cards per row */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}

/* Media query for smaller screens */
@media (max-width: 768px) {

  /* Adjust breakpoint as needed */
  .card {
    flex-basis: 100%;
    /* Full width for single column layout */
  }
}