<h2> Product list</h2>
 <div class="card-container">
       @for (product of products$|async; track product.id) {
      <div  class="card">
        <!-- Card content goes here -->
                
        <h3> ID ={{product.id}} | {{ product.name }}</h3> 
                <p>Price: ${{ product.price }}</p>
                <p>Description: {{ product.description }}</p>
                <p>Category: {{ product.category }}</p>
            <a [routerLink]="['/products', product.id]">View</a> |
            <a [routerLink]="['/products', product.id, 'edit']">Edit</a> |
            <button (click)="delete(product.id)">Delete</button>
      </div>
    }
    </div>




<!-- <div>

    @for(product of products; track product)
    {
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>{{ product.name }}</h3>
                <p>Price: ${{ product.price }}</p>
                <p>Description: ${{ product.description }}</p>
                <p>Category: ${{ product.category }}</p>
            </div>
        </div>
    </div>
    }

    @if(products.length === 0)
    {
    <p>No products found.</p>
    }

</div> -->